#my-dropzone {
  width: 100%;
  height: 100%;
  text-align: center;
  padding-top: 80vh;
  margin: 0 auto;
  background:#000000;
  background-image: url("../../images/put-your-file-here.gif");
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  color: #fff;

}


#confirmation-section {
  width: 100%;
  height: auto;
  text-align: center;
  padding-top: 50px;
  padding-bottom: 50px;
  background:#4286f4;
  color: #222;
}

.loading {
  display: none;
  position: fixed;
  background-image: url("../../images/loading.gif");
  background-color: #cccccc;
  z-index: 10000;
  top:0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
}

.dz-default dz-message {
  padding-top: 200px;

}

.headermargin {
  margin-left: 20px;
  margin-right: 20px;
}
.headermargintop{
  margin-top: 4px;
}
.headermargintop2{
  margin-top: 13px;
}
.dropdown-menu{
  background-color:#000;
  left: -85px;
}
.dropdown-menu>li>a {
  color :#A7F4D6;
}
canvas {
  margin: 0px;
  padding: 0px;
  position: absolute;
  background-color: #000;
  height: 100vh;
}


.iose {
  width: 135px;
  height: 45px;
  background-color: lightgray;
  top: 0px;
  right: 0px;
  position: fixed;
  line-height: 22px;
  font-size: 20px;
  padding: 10px;
  border-bottom-left-radius: 10px;
  font-family: 'HelveticaNeue-UltraLight', 'Helvetica Neue UltraLight', Roboto, Arial, Sans-serif;
  color: #151B1F;
}

a {
  color: #1abc9c;
}
